/ h2 Ratings of bronze cards!

/ / -ratinglist.each do |div|
/ .div_list
/     .div_1star
/         -rating_1star do |card|
/             img src="img/#{card["Picture"]}"
/     .div_2star 
/         -rating_2star do |card|
/             img src="img/#{card["Picture"]}"
/     .div_3star 
/         -rating_2star do |card|
/             img src="img/#{card["Picture"]}"
/     .div_4star 
/         -rating_2star do |card|
/             img src="img/#{card["Picture"]}"
/     .div_5star 
/         -rating_2star do |card|
/             img src="img/#{card["Picture"]}"
        
