* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    display: grid;
    top: 0px;
    width: 100vw;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 
    "dn1 dn2 dn3 dn4";
}

a {
    color: black;
}

h2 {
    font-size: 40px;
    text-align: center;
}

#div_nav1be {
    grid-area: dn1;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav2be {
    grid-area: dn2;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav3be {
    grid-area: dn3;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav4be {
    grid-area: dn4;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

/* #div_nav1af {
    grid-area: dn1;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav2af {
    grid-area: dn2;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav3af {
    grid-area: dn3;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#div_nav4af {
    grid-area: dn4;
    background-color: rgba(211, 211, 211, 0.4);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
} */

.inner_wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 450px 450px;
    grid-template-areas: 
    "hea hea"
    "ar1 ar2"
    "ar3 ar4";
}

.img_main {
    width: 200px;
    height: 300px;
}

#h1_start {
    grid-area: hea;
    font-size: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#article_1 {
    grid-area: ar1;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    grid-template-areas: 
    "pi1 pi1"
    "mo1 so1";
}

#div_11 {
    grid-area: pi1;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#div_12 {
    grid-area: mo1;
    display: flex;
    justify-content: right;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#div_13 {
    grid-area: so1;
    display: flex;
    justify-content: left;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#article_2 {
    grid-area: ar2;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    grid-template-areas: 
    "pi2 pi2"
    "mo2 so2";
}

#div_21 {
    grid-area: pi2;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#div_22 {
    grid-area: mo2;
    display: flex;
    justify-content: right;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#div_23 {
    grid-area: so2;
    display: flex;
    justify-content: left;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#article_3 {
    grid-area: ar3;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    grid-template-areas: 
    "pi3 pi3"
    "mo3 so3";
}

#div_31 {
    grid-area: pi3;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#div_32 {
    grid-area: mo3;
    display: flex;
    justify-content: right;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#div_33 {
    grid-area: so3;
    display: flex;
    justify-content: left;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#article_4 {
    grid-area: ar4;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    grid-template-areas: 
    "pi4 pi4"
    "mo4 so4";
}

#div_41 {
    grid-area: pi4;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#div_42 {
    grid-area: mo4;
    display: flex;
    justify-content: right;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#div_43 {
    grid-area: so4;
    display: flex;
    justify-content: left;
    justify-items: center;
    width: 100%;
    padding: 10px;
}

#hej {
    font-size: 300px;
}

.rating_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_rating {
    margin: 5px;
    height: 160px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit_rating {
    display: flex;
    justify-content: center;
}

.rating {
    height: 50px;
    width: 100px;
    color: white;
    background: skyblue;
}

.rating:hover {
    cursor:pointer;
}

.img_rating {
    height: 130px;
    width: 100px;
}

.edit_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_edit_card {
    margin: 5px;
    height: 160px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit_edit {
    display: flex;
    justify-content: center;
}

.edit {
    height: 50px;
    width: 100px;
    color: white;
    background: skyblue;
}

.edit:hover {
    cursor:pointer;
}

.img_edit {
    height: 130px;
    width: 100px;
}

#hoppsan {
    font-size: 300px;
}

.div_register {
    display: flex;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2_register {
    font-size: 30px;
}

.input_register {
    display: flex;
    margin: 5px;
    padding: 2.5px;
}

.submit_register {
    display: flex;
    margin: 5px;
}

.div_login {
    display: flex;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.h2_login {
    font-size: 30px;
}

.input_login {
    display: flex;
    margin: 5px;
    padding: 2.5px;
}

.submit_login {
    display: flex;
    margin: 5px;
}

.div_list {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 602px;
    height: auto;
    grid-template-columns: 50px 552px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "dne dne"
    "ds5 d5s"
    "ds4 d4s"
    "ds3 d3s"
    "ds2 d2s"
    "ds1 d1s";
}

.img_show {
    width: 50px;
    height: 55px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

.div_name_and_delete {
    grid-area: dne;
    display: grid;
    height: 50px;
    width: 100%;
    grid-template-rows: 50px;
    grid-template-columns: 300px 151px 151px;
    grid-template-areas: 
    "dn de dd";
}

.div_name {
    grid-area: dn;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: darkslategrey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 0.5px solid black;
}

.div_edit {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: darkslategrey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid black;
    border-right: 1px solid black;
}

.div_delete {
    grid-area: dd;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: darkslategrey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}

.div_show_5star {
    grid-area: ds5;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: limegreen;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.div_5star {
    grid-area: d5s;
    display: flex;
    min-height: 50px;
    max-height: 240px;
    background:rgba(211, 211, 211);
    flex-wrap: wrap; 
    width: 100%;
    border: 1px solid black;
}

.div_show_4star {
    grid-area: ds4;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: yellow;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.div_4star {
    grid-area: d4s;
    display: flex;
    min-height: 50px;
    max-height: 240px;
    background:rgba(211, 211, 211);
    flex-wrap: wrap; 
    width: 100%;
    border: 1px solid black;
}

.div_show_3star {
    grid-area: ds3;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: blue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.div_3star {
    grid-area: d3s;
    display: flex;
    min-height: 50px;
    max-height: 240px;
    background:rgba(211, 211, 211);
    flex-wrap: wrap; 
    width: 100%;
    border: 1px solid black;
}

.div_show_2star {
    grid-area: ds2;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: red;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.div_2star {
    grid-area: d2s;
    display: flex;
    min-height: 50px;
    max-height: 240px;
    background:rgba(211, 211, 211);
    flex-wrap: wrap; 
    width: 100%;
    border: 1px solid black;
}

.div_show_1star {
    grid-area: ds1;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: darkred;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.div_1star {
    grid-area: d1s;
    display: flex;
    min-height: 50px;
    max-height: 240px;
    background:rgba(211, 211, 211);
    flex-wrap: wrap; 
    width: 100%;
    border: 1px solid black;
}